body {
	background:orange;
	}

	.header-container {
		color: white;
		font-family: Arial, Helvetica, sans-serif;
		text-align: center;
		font-size: 56px;
		padding-top: 20px;
	}

#placeholderContainer {
	display: none;
	text-align: center;
	padding-left: 30%;
	padding-right: 30%;
}

.simpsons-img {
	display: block;
	margin: auto;
}

.startGameButton {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px;
    bottom: 15px;
}

.stats {
    font-size: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
	padding: 10px;
}

/* How do I apply this font throughout?! */
@font-face {
	font-family: Simpsonfont;
	src: url(/assets/css/Simpsonfont.ttf);